@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#1D2A56;
    --secondary-color:#2F4285;
    --teriary-color:#969FBC;
    --fourth-color:#F4F5F7;
}
.show{
    color: white;
    background-color: black;
}
body{
    background-color: var(--fourth-color);
}
.parentDiv{
    display: flex;
}
.navbars{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: 720px;
    position: fixed;
    width: 64px;
    padding: 12px 20px;
}
.mainBody{
    margin-left: 64px;
}
img{
    height: 24px;
    width: 24px;
}
.headerIcons, .footerIcons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}
.imgs{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-left: 5px;
}
.title{
    display: flex;
}
.pjs {
    padding-left: 10px;
    padding-top: 3px;
}

.profile {
    display: flex;
    gap: 10px;
}
.footerIcons {
    margin-top: 330px;
}
img.logo {
    width: 46px;
    position: relative;
    right: 11px;
}
.header {
    display: flex;
    width: 1287px;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
}
.welco {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
}
span.name {
    font-weight: bold;
    padding-right: 9px;
}
.contents{
    width: 93%;
    margin: auto;
}
.searchBar{
    background-color: white;
    padding: 12px;
}
.sear{
    display: flex;
    justify-content: space-between;
}
.inputsearch{
    width: 1080px;
    border: 0;
    outline: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.projectButtons button {
    padding: 8px 26px;
    border-radius: 22px;
    border: 0;
    background-color: white;
    color: var(--primary-color);
}
.toggleButtons{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.toggleButtons button {
    height: 40px;
    width: 140px;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}
.activities{
    display: flex;
}
.initialpara {
    margin-top: 11px;
    background-color: #c7c9ce;
    padding: 10px 10px;
    border-radius: 5px;
}
.names{
    display: flex;
}
.nameslist {
    margin-top: 8px;
    margin-left: 20px;
}
.nameslist p{
    color: var(--primary-color);

}
.cons {
    margin-top: 16px;
    margin-left: 20px;
}
p.activity {
    margin-top: 20px;
    color: var(--teriary-color);

}
.pDetails {
    margin-top: 20px;
    margin-left: 70px;
}
p.console {
    margin-top: 10px;
    color: var(--teriary-color);
}
p.email {
    margin-top: 10px;
}
.cardses{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 22px;
    margin-left: 2px;
}
.card0 {
    padding: 28px 70px;
    background-color: white;
    width: 287px;
    border-radius: 7px;
}
.addnew {
    height: 132px;
    width: 124px;
    margin-left: 10px;
}
.cards {
    background-color: white;
    height: 204px;
    width: 288px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 6px;
}
.projectButtons {
    margin-top: 6px;
}
button.togbutton {
    width: 65px;
    margin-left: -5px;
    border-color: var(--secondary-color);
}
#act{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}
.Pa , .email{
    color: var(--teriary-color);

}
